# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
smart_env/
env/
venv/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs / Editors
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db
